 /* Remove the navbar's default margin-bottom and rounded borders */ 
 body {
    font-family: 'Oxygen', sans-serif;
    background-color: #1c3f9f5a;
 }
 .navbar-inverse {
    background-color: #3454bb;
}
 .navbar {
    background-color: #2040ab;
    margin-bottom: 0;
    border-radius: 0;
  }
  /* Home Page */
.jumbotron {
    margin: 0;
    height: inherit;
    padding: 0%;
}
#Filling-tile, #Feeding-tile, #Lending-tile, #Training-tile {
   height: 250px;
   width: 100%;
   margin-bottom: 15px;
   position: relative;
   border: 2px solid #235571;
   overflow: hidden;
}
#Filling-tile:hover, #Feeding-tile:hover, #Lending-tile:hover, #Training-tile:hover {
    box-shadow: 0 1px 5px 1px;
} 
#Filling-tile {
    background-image: url(/images/woman.png) no-repeat;
    background-position: center;
    
}
#Feeding-tile {
    background-image: url(School.png) no-repeat; 
    background-position: center;
}
#Lending-tile {
    background-image: url(/images/Hand.png) no-repeat;
    background-position: center;
}
#Training-tile {
    background-image: url(/images/Chickens.jpg) no-repeat;
    background-position: center;
}


  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #5f6e99;
    padding: 25px;
  }
  container_text-center {
    background-color: rgb(48, 130, 130);
  }

